@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

html {
    font-family:"PT Serif", serif;
}

main {
    width: 98vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#contato {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-image: url(../imagens/download.jpeg);
    background-size: cover;
    box-shadow: 3px 3px 5px black;
}

img {
    width: 80px;
}

p {
    font-size: 25px;
    padding: 10px;
    text-align: center;
    line-height: 1.5;
}
